.container {
    display: flex;
    justify-content: space-evenly;
}
.left p {
    margin-bottom: .3rem;
}
.left input {
    width: 15rem;
    margin-bottom: 1rem;
}
.right input {
    width: 15rem;
    margin-bottom: 1rem;
}
.application {
    display: flex;
    width: 15rem;
    height: 3rem;
}
.description {
    display: flex;
    width: 15rem;
    height: 3rem;
}
.add_title {
    width: 15rem;
    display: flex;
    justify-content: center;
}

.add_prod {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 1px solid rgb(53, 112, 53);
    width: 15rem;
    height: 4rem;
    cursor: pointer;
}
.add_prod:hover {
    background: #198754;
    color: #fff;
}
.block__type {
    display: flex;
    justify-content: center
}
.type__title {
    display: flex;
    justify-content: center
}
.type__inp {
    margin: 1rem 0 0 0 ;
    width: 20rem;
    height: 2rem;
}